*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


body{
 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;

}

/*HEADER*/
header{
  background-color: rgb(209, 202, 202);

height:190px;
  
}

li{
  list-style: none;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgb(112, 94, 94);
}
a{
  color: black;
  text-decoration: none;
  transition: color 0.2s 0.1s ease;
}
a:hover{
  color: #031b2d;
  }



.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color: rgb(27, 82, 212);
}

.hamburger{
  display: none;
  cursor: pointer;
  }
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
@media(max-width:800px){
  .welcome{
    flex-direction: column;
  }

  .container{
    flex-direction:column;
    justify-content: center;
  }

 
}
@media(min-width:380px){


  .hamburger{
    display: block;
position: absolute;
top: 10px;
right: 20px;
}
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  h1{

    color: black;
text-align: center;
font-size: 40px;
font-family: 'Roboto', sans-serif;

  }
  
  .menu{
    padding-left: 50px;
  }
  .nav-item{
    margin:16px 0;
  }
  .nav-menu.active{

    right:-92%;
    margin-top: 25px;
   margin-right: 40px;
  
    
      
    }

  

  .square {
    border: 7px solid black;
    height: 58px;
    width: 58px;
    position: relative;
top:40px;
  justify-content: center;
  }
  .triangle {
  
    position: relative;
    top: -20px;
    left: -28px;
    border-left: 7px solid black;
    border-top: 7px solid black;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
 
 
}



.nav-menu{
  top: 0;
position: absolute;
right: 100%;
gap: 0px;
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-bottom:10px ;

width: 100%;


transition: 0s;
}



/*MAIN*/
.welcome{
  display: flex;
  padding: 20px;
  gap: 20px;
  background-color: #2b2933;
  color: white;
}
.projects{
  padding: 100px 0;
  
  background-color:#2b2933;


}
h3{
  text-align: center;
}
.services{
  color: black;

  margin:100px;
 text-align: center;
}

img{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
ul{
  display: flex;
  gap: 20px;
justify-content: center;
font-size: 20px;
}
  
    .secondpart{
      color: white;
      text-align: center;
      padding-bottom: 20px;

    }
  
  
 
    .container{
      display: flex;
    justify-content: center;
   background-color:#2b2933 ;
      gap: 20px;
    }
    /*FOOTER*/
    footer{
      font-size: 20px;
      color: white;
      
    }
    .image{
      height: 130px;
      width: 170px;
    padding-right: 0;
     
    }
    

   