*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/*BODY*/
body{
  
  background-image: linear-gradient(to right top, #1e2424, #1d2425, #1d2427, #1d2428, #1e2429,
  #2a2f36, #363b43, #434750, #60636f, #80818f, #a29fb1, #c6bfd3);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/*HEADER*/
header{
  background-color: #0d040475;
  
}
/*SERVICES*/
li{
  list-style: none;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
a{
  color: white;
  text-decoration: none;
  transition: color 0.2s 0.1s ease;
}
a:hover{
  color: #031b2d;
  }
.navbar{
  min-height: 70px;
  display: flex;
   justify-content: space-between;
   align-items: center;
  padding : 0 24px;
  top: 0;
}

h1{
  font-size: 2rem;
  color: white;
}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color: rgb(14, 14, 231);
}

.hamburger{
  display: none;
  cursor: pointer;
  }
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}
@media(max-width:1500px){
  .hamburger{
    display: block;
position: absolute;
top: 20px;
right: 20px;
}
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    top: 0;
position:absolute ;
right: -100%;
gap: 0;
flex-direction: row;
width: 100%;
text-align: center;
transition: 0.3s;
  }
  .nav-item{
    margin:16px 0;
  }
  .nav-menu.active{
    left: 0;
    
  }
}
.square {
  border: 7px solid #888468b0;
  height: 58px;
  width: 58px;
  position: relative;
  margin-top: 100px;
justify-content: center;
}
.triangle {
  position: relative;
  top: -25px;
  left: -28px;
  border-left: 7px solid #888468b0;
  border-top: 7px solid #888468b0;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.menu{
  margin-top: 30px;
}
/*MAIN*/
.services{
  color: white;
  
  margin:150px;
}
  
    .secondpart{
      color: rgb(255,255,255);
      text-align: center;
      padding-bottom: 20px;
    }
  
  .projects{
    margin-top: 100px;
  }
  img{
    width: 550px;
    height: 550px;
  }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    /*FOOTER*/
    footer{
      font-size: 20px;
      color: white;
      
    }
    .image{
      height: 130px;
      width: 170px;
    padding-right: 0;
     
    }
    

   